# Ignore everything
/*

# But not these files...
!.gitignore
!kubejs
kubejs/jsconfig.json
kubejs/README.txt
kubejs/config
kubejs/data
kubejs/exported
kubejs/probe

!resources


!config
config/jei/world


!defaultconfigs